#available-programs {
  color: #000000;
  h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  a {
    color: #000000;
  }
  h2 {
    margin-top: 3rem;
    font-size: 1.8rem;
  }
  button {
    transition: all 0.5s;
    display: inline-block;
    cursor: pointer;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3.5rem 1rem;
    padding: 1rem;
    overflow: visible;
  }
  #search {
    margin-bottom: 1.5rem;
    form {
      margin-bottom: 0.4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      input {
        width: 40%;
        height: 40px;
        padding: 0 1rem;
        font-size: 1.3rem;
      }
      button {
        padding: 0;
        width: 7%;
        height: 40px;
        border-radius: 0;
      }
    }
    #filters {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        background: none;
        border: none;
        width: 47%;
        padding: 0.5rem 1rem;
        font-size: 1.2rem;
        // box-shadow: $box-shadow-main;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $secondary-color;
        color: #ffffff;
        border-radius: 5px;
        transition: opacity 0, 2s;
        div:first-child {
          width: 70px;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        div:last-child {
          i {
            margin-left: 1rem;
          }
        }
        &:hover {
          opacity: 0.85;
        }
      }
    }
  }
  #card {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    // border: 0.1px $primary-color solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    &:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      transform: scale(1.01);
    }
    button {
      border: none;
      background: none;
      text-align: center;
      font-size: 3rem;
      margin: 0.2rem 2rem;
      color: $primary-color;
      &:hover {
        transform: rotate(-180deg);
        color: $secondary-color;
      }
    }

    &-title {
      font-size: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 227px;
      position: relative;
      a {
        width: 100%;
        height: 100%;

        div {
          color: #ffffff;
          border-radius: 5px;
          position: absolute;
          top: 0;
          right: 0;
          padding: 0.5rem 1rem;
          z-index: 1;
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $dark-color;
            opacity: 0.85;
            z-index: -1;
            border-radius: 5px;
          }
        }
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 17.5rem;
      p:first-of-type {
        font-size: 1.3rem;
        font-weight: 150;
      }
      div {
        width: 100%;
        // background: $primary-color;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        p {
          margin: 0.3rem 0.5rem;
        }
      }
    }
  }
  #paginator {
    .container {
      font-size: 2.5rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 0;
      padding-right: 1rem;
      a {
        margin-left: 1.5rem;
      }
      i {
        transition: all 0.2s;
        border: 3px $dark-color solid;
        border-radius: 50%;
        width: 39px;
        height: 39px;
        line-height: 34px;
        text-align: center;
        &:hover {
          background: $primary-color;
        }
      }
      .arrow-l .fas {
        padding-right: 4px !important;
      }
      .arrow-r .fas {
        padding-left: 4px !important;
      }
    }
  }
  #explanation {
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      #explanation-a {
        flex: 3;
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
        margin-right: 0.3rem;
        background: $primary-color;
        color: #ffffff;
        border-radius: 5px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        p {
          margin-bottom: 0.3rem;
        }
        p:last-child {
          font-size: 1.1rem;
          grid-column: 2;
          grid-row: 1 / span 3;
          align-self: center;
        }
        button {
          background-color: $primary-color;
        }
      }
      #explanation-b {
        flex: 1;
        text-align: center;
      }
    }
  }
}

.liked {
  transform: rotate(-180deg);
  color: $secondary-color !important;
  &:hover {
    transform: rotate(0deg) !important;
    color: $primary-color !important;
  }
}

// ANOTHER TYPE OF LIKED BUTTON CAN BE WITH FONT AWESOME CLASSES, TO TOGGLE BETWEEN HEART WITH BORDER AND HEART FULL;
// https://www.w3schools.com/howto/howto_js_toggle_like.asp
