// Variables
$background-color: #fff;
$background-color-gray: #f9f9f9;
$primary-color: #26a8da;
$lighter-primary-color: #52b9e154;
$secondary-color: #DA5826;
$dark-color: #24292e;
$light-color: #f3f3f3;
$max-width: 1280px;
$font-fam: "Work Sans",
sans-serif;
$border-input: 1px solid #d1d5da;