#login-body {
    background: #f9f9f9 !important;
}

%form-base {
    margin-top: 3rem;
    height: 82.4vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    h1 {
        width: 359px;
        text-align: center;
        margin-bottom: 2rem;
    }
    input {
        width: 100%;
        border: 1px solid #d1d5da;
        box-shadow: inset 0 1px 2px rgba(27, 31, 35, .075);
        padding: 0.5rem 0.5rem;
        margin-bottom: 1rem;
        font-size: 1rem;
    }
    button {
        text-align: center;
        width: 100%;
        border-radius: 5px;
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    form {
        background: #ffff;
        width: 360px;
        height: 300px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border: $border-input;
        margin-bottom: 1rem;
        label {
            margin-bottom: 0.2rem;
            font-weight: bold;
            align-self: flex-start;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            a {
                font-size: 0.8rem;
                font-weight: normal;
            }
        }
        #socials {
            border-top: $border-input;
            width: 110%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;
            padding-top: 1rem;
            button {
                background: none;
                border: none;
                font-size: 1.4rem;
                color: #333333;
                margin-right: 1rem;
                margin-bottom: 0;
                cursor: pointer;
                width: 23px;
                i {
                    transition: 0.2s;
                }
                i:hover {
                    color: $secondary-color;
                }
            }
        }
    }
    p {
        margin-bottom: 1rem;
    }
    p:last-of-type {
        text-align: center;
        width: 363px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: white;
        border: 1px solid #d1d5da;
    }
}

#form {
    &-login {
        @extend %form-base;
    }
    &-register {
        @extend %form-base;
        margin-top: 2rem;
        height: 84.1vh;
        h1 {
            margin-bottom: 0;
        }
        form {
            height: 500px;
            label {
                justify-content: flex-start;
                &::after {
                    content: "*";
                    font-size: 0.75rem;
                }
            }
        }
    }
}